@import "~antd/dist/antd.css";

.App {
  text-align: center;
  margin: 0 20px;
}
.app_header {
  font-size: 2.8em;
  text-transform: uppercase;
  color: aqua;
}
.meme_image {
  width: 100%;
  height: 100%;
  display: block;
  background-size: contain;
  background-clip: initial;
  background-repeat: no-repeat;
}
.image_container {
  margin-top: 100px;
}
